* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #020202;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    transition: background-color 0.3s ease;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ff5a23;
    border-radius: 10px;
    border: 3px solid #333;
}

::-webkit-scrollbar-thumb:hover {
    background: #e6f880;
    border: 3px solid #555;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #ff5a23 #333;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #ff5a23 #333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    margin: 20px;
    transition: transform 0.3s ease;
}

h1 {
    font-size: 2.5em;
    color: rgb(250, 247, 247);
    margin-bottom: 20px;
}

.build-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

select {
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

select:focus {
    border-color: #721e02;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #ff5a23;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #e6f880;
    color: black;
    border: 1px solid black;
    transform: scale(1.05);
}

#result {
    margin-top: 20px;
    line-height: 1.5;
    font-weight: bold;
    background-color: rgb(26, 151, 160);
    color: white;
    padding: 50px;
    border-radius: 5px;
    font-size: 1.1em;
    min-width: 200px;
}

.result-section {
    margin-bottom: 20px;
}

.result-section ul {
    list-style: none;
    padding-left: 0;
}

.result-section li {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-image {
    width: 100px;
    height: auto;
    margin-top: 5px;
    border-radius: 8px;
}

span {
    color: rgb(245, 175, 62);
    padding: 5px;
    border-radius: 10px;
}

body {
    animation: backgroundAnimation 10s infinite alternate;
}

.container {
    animation: fadeIn 2s ease-out;
}

@keyframes backgroundAnimation {
    0% { background-color: #020202; }
    100% { background-color: #444; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
